/* general */

html, body{
    height:100%;
    background-color: #cfcfd1;
}
.underline{
    text-decoration: underline;
}

.quizzCTA{
    cursor:pointer;
}

/* front-end */


.header::before{
    content:"";
    border-top: 275px solid #194D0B;
    border-right: 275px solid transparent;
    position:absolute;
    z-index:1;
    pointer-events: none;
}

.header__logo{
    position:relative;
    z-index:1;
    padding:15px;

    /* remove after logo */
    color:white;
    font-size:30px;
}

.header__text{
    color:#194D0B;
    padding:20px;
}


.navbar{
    padding:0;
}


.navbar__menu{
    list-style-type: none;
    padding:0;
    margin:0 0 0 auto;
    line-height:1;
    
    position: relative;
    z-index: 1;
}

.navbar__menu li{
    display:inline-block;
    margin: 0 5px;
    padding: 5px 20px;
    background:#194D0B;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar__menu li.active{
    background:#562B73;
}

.navbar__menu li a{
    width:100%;
    height:100%;
    display:block;

    color:#fff;
    font-size:13px;
    text-transform: uppercase;
}

.content{
    background:#562B73;
    padding: 70px 50px;
    margin-bottom: 100px;

}
.content p, .content h6{
    color:#fff;
}

.content h6{
    text-align:center;
    margin:25px;
    font-weight:bold;
}









/* administration */

.newQuestionTable td:last-child,.newQuestionTable th:last-child{
    text-align: center;
}

#newQuestionForm textarea{
    resize: none;
}

#loginButton{
    margin-top:10px;
}

#loginSection, #loginSection > .row, #backOffice{
    height:100%;
}

#answerImagePreview{
    display:block;
    width:200px;
}